boto3==1.26.118 ; python_version >= "3.9" and python_version < "3.10"
botocore==1.29.118 ; python_version >= "3.9" and python_version < "3.10"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.10" and sys_platform == "win32"
jmespath==1.0.1 ; python_version >= "3.9" and python_version < "3.10"
loguru==0.6.0 ; python_version >= "3.9" and python_version < "3.10"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.10"
s3transfer==0.6.0 ; python_version >= "3.9" and python_version < "3.10"
simplejson==3.19.1 ; python_version >= "3.9" and python_version < "3.10"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.10"
urllib3==1.26.15 ; python_version >= "3.9" and python_version < "3.10"
win32-setctime==1.1.0 ; python_version >= "3.9" and python_version < "3.10" and sys_platform == "win32"
